{% extends 'template.html' %}

{% block body_title %}
<h1 class="mt-4">Dashboard</h1>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Dashboard</li>
    <li class="breadcrumb-item active">{{discordcode.name}}</li>
</ol>
{% endblock %}

{% block main %}
<input type="hidden" id="usercode" value="{{discordcode.discordId}}"/>
<div class="row">
    <div class="col-xl-4 col-md-4">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Contactos</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <span class="small text-white stretched-link"> Datos del dia: </span>
                <div class="small text-white" id="contacts">0</i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4">
        <div class="card bg-secondary text-white mb-4">
            <div class="card-body">Invitaciones</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <span class="small text-white stretched-link"> Datos del dia: </span>
                <div class="small text-white" id="inv">0</i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Planes</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <span class="small text-white stretched-link"> Datos del dia: </span>
                <div class="small text-white" id="planes">0</i></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div style="margin: 10px auto;">
        <input class="form-control" type="text" name="dates" />
    </div>
</div>
<!--GRAFICOS-->
<div id="graph_container"class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar mr-1"></i>
                Lectura
            </div>
            <div class="card-body"><canvas id="lectureChar" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar mr-1"></i>
                Fragmentos
            </div>
            <div class="card-body"><canvas id="fragmentChar" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar mr-1"></i>
                Audios
            </div>
            <div class="card-body"><canvas id="audiosChar" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar mr-1"></i>
                Eventos
            </div>
            <div class="card-body"><canvas id="eventChar" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar mr-1"></i>
                Contactos
            </div>
            <div class="card-body"><canvas id="contactChar" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar mr-1"></i>
                Planes
            </div>
            <div class="card-body"><canvas id="planChar" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar mr-1"></i>
                Invitaciones
            </div>
            <div class="card-body"><canvas id="invChar" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar mr-1"></i>
                Seguimiento
            </div>
            <div class="card-body"><canvas id="followChar" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar mr-1"></i>
                Volumen
            </div>
            <div class="card-body"><canvas id="volumen" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <!-- <div class="col-xl-12">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area mr-1"></i>
                Habitos de Educacion
            </div>
            <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
        </div>
    </div> -->

</div>

{% endblock%}
{% block customjs %}
<script src="{{url_for('static', filename='js/charts.js')}}"></script>
{%endblock%}